html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
	background: grey;
	margin: 0px;
	height: 100%;
	width: 100%;
}

input {
	margin: 10px;
}

canvas {
	background: white;
	float: left;
	height: 85%;
	width: 80%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.items {
	background: white;
	font-size: 14pt;
	min-width: 10%;
}

#listOfItems {
	margin-right: 10px;
}

#setItemName {
	margin-left: 10px;
	clear: both;
	max-width: 17%;
}

.deleteButton {
	margin: 0%;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 6px;
	float: left;
}

.radioAndCheckbox {
	float: right;
	margin: 0%;
	margin-right: 4px;
}

#connectButton {
	clear: both;
	float: right;
}

#itemdiv {
	float: right;
	min-width: 10%;
}